[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchainhub = "*"
python-dotenv = "*"
langchain-openai = "*"
langgraph = "*"
ipython = "*"
black = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
